<div class="container-fluid">
  <div class="mx-auto">
    <%= form_with model: catalog do |form| %>
      <div>
        <%= form.label :avatar %><br>
        <%= form.file_field :avatar %>
      </div>

      <div >
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        <%= catalog.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div>
        <%= form.label :body %><br>
        <%= form.text_area :body %><br>
        <%= catalog.errors.full_messages_for(:body).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div>
        <%=form.submit "Submit", disable_with: 'Submiting...' %>
      </div>
    <% end %>
  </div>
</div>