<div class="container-fluid container">
  <div class="row">
    <div class="col-8">
      <%= image_tag(@catalog.avatar, alt: "avatar", class: "img-fluid rounded") %>
    </div>
    <div class="col-4">
      <h1><%= @catalog.title %></h1>
        <p><%= @catalog.body %></p>

    </div>
  </div>
  <br>
  <div class="btn-group" role="group" aria-label="Edit Destroy">
    <button type="button" class="btn btn-light border">
      <%= link_to "Edit", edit_catalog_path(@catalog) %>
    </button>

    <button type="button" class="btn btn-light border">
     <%= link_to "Destroy", catalog_path(@catalog),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
    </button>
  </div>
</div>
