<!DOCTYPE html>
<html>
  <head>
    <title>Foods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= content_tag :div, nil, data: {controller: "sideNav"} do %>
  
  <div class="fixed-top">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" data-action="click->sideNav#closeNav">&times;</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
  </div>
  <div id="main">
    <div class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand"><span style="font-size:30px;cursor:pointer" data-action="click->sideNav#openNav" id="open">&#9776;</span></a>
        <a class="navbar-brand"> My Food</a>
        <%= mail_to "johnoliveirasilva9@gmail.com", "Mail", class: "navbar-brand" %>
    </div>
    <%# <%= render "shared/main" %>
    <%# <%= render "shared/pagination" %>
    <%= yield %>
  </div>
<% end %>
    
  </body>
</html>
